<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/addons/hc_answer/template/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/addons/hc_answer/template/css/main.css" />
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
				<p>排位赛基于Redis队列匹配，请确保服务器安装Redis,并确保端口为6379</p>
				<p>PHP连接redis，需在PHP设置中安装redis扩展</p>
				<p>程序使用前，请将【基础设置】下的内容完善</p>
			</blockquote>
		</div>
	</body>

</html>