<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="/addons/hc_answer/template/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/addons/hc_answer/template/css/global.css" media="all">
		<link rel="stylesheet" type="text/css" href="/addons/hc_answer/template/plugins/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="/addons/hc_answer/template/css/table.css" />
	</head>
	<body>
		<div class="admin-main">

			<blockquote class="layui-elem-quote">
				<a href="javascript:;" class="layui-btn layui-btn-small" id="add">
					<i class="layui-icon">&#xe608;</i> 添加广告
				</a>
				<a href="javascript:;" class="layui-btn layui-btn-small" id="refresh">
					<i class="layui-icon">&#x1002;</i> 刷新
				</a>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>广告列表</legend>
				<div class="layui-field-box">
					<table class="site-table table-hover">
						<thead>
							<tr>
								<th>广告名称</th>
								<th>appid</th>
								<th>path</th>
								<th>描述</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>

				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/addons/hc_answer/template/plugins/layui/layui.js"></script>
		<script>
			layui.config({
				base: '/addons/hc_answer/template/plugins/layui/modules/'
			});

			layui.use(['icheck', 'laypage','layer'], function() {
				var $ = layui.jquery,
					laypage = layui.laypage,
					layer = parent.layer === undefined ? layui.layer : parent.layer;
				$('input').iCheck({
					checkboxClass: 'icheckbox_flat-green'
				});

				//page
				laypage({
					cont: 'page',
					pages: {$nums},
					groups: 10,
					jump: function(obj, first) {
						//得到了当前页，用于向服务端请求对应数据
						var curr = obj.curr;
						var html ='';
						$.ajax({
				            url:"{php echo $this->createWebUrl('Advajax');php}",
				            data:{page:curr},
				            type:"post",
				            dataType:"json",
				            success:function(data){
				            	layui.each(data.data, function(index, item){
				            		html += '<tr>';
				            		html += '<td>'+item.name+'</td>';
							      	html += '<td>'+item.appid+'</td>';
							      	html += '<td>'+item.path+'</td>';
							      	html += '<td>'+item.desc+'</td>';
							      	html += '<td><a href="javascript:;" class="layui-btn layui-btn-mini" data-id="'+item.id+'" id="edit">编辑</a>&nbsp;&nbsp;';
							      	html += '<a href="javascript:;" data-id="'+item.id+'" id="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a></td>';
							      	html += '</tr>';
							    });
							    $("tbody").html(html);
				            },
				            error:function(data){
				                layer.alert('请稍后重试', {icon: 5});
				            }
				        });
						
					}
				});
				
				$('#refresh').on('click', function() {
					location.reload();
				});
				$('#add').on('click', function() {
					layer.open({
					  type: 2,
					  area: ['1100px', '850px'],
					  fixed: false, //不固定
					  maxmin: true,
					  content: './index.php?c=site&a=entry&do=advadd&m=hc_answer',
					  end: function () {
				        location.reload();
				      }
					});
				});
				$('tbody').on('click', '#edit',function() {
					var id = $(this).attr('data-id');
					layer.open({
					  type: 2,
					  area: ['1100px', '850px'],
					  fixed: false, //不固定
					  maxmin: true,
					  content: './index.php?c=site&a=entry&do=advadd&m=hc_answer&id='+id,
					  end: function () {
				        location.reload();
				      }
					});
				});

				$('tbody').on('click', '#del',function() {
					var id = $(this).attr('data-id');
					layer.confirm('确定要删除吗？', {
						btn: ['确认','取消'],
						end: function () {
					        location.reload();
					    }
					}, function(){
						$.ajax({
				            url:"{php echo $this->createWebUrl('advdo');php}",
				            data:{id:id,act:'del'},
				            type:"post",
				            dataType:"json",
				            success:function(data){
				            	if(data.code=='1'){
				                	layer.alert(data.msg, {icon: 6});
				            	}else{
				                	layer.alert(data.msg, {icon: 5});
				            	}
				            },
				            error:function(data){
				                layer.alert('请稍后重试', {icon: 5});
				            }
				        });
					});
				});
			});
		</script>
	</body>

</html>